body{
    background: #d3faed;
}
h1  {
    text-align: center;
}
table{
    /*position:absolute;*/

    /*width:70%;*/
    /*margin-left:15%;*/
    /*margin-right:15%;*/
    margin-left: auto;
    margin-right: auto;
}
.col-td{
    width: 200px;
    height: 200px;
    background-color: white;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.col-td:hover{
    border: black solid 1px;
}
