body{
    background: aquamarine;
}
h1  {
    text-align: center;
}
table{
    /*width:70%;*/
    /*margin-left:15%;*/
    /*margin-right:15%;*/
    margin-left: auto;
    margin-right: auto;
}
.col-td{
    width: 200px;
    height: 200px;
    background-color: white;

}